@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100%;
    background-color: #eeeff8;
}

/* BODY SIGNUP */

#signupContainer {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    max-width: 26.875em;
    width: 100%;
    background: #fff;
    padding: 2.125em;
    border-radius: 0.375em;
    box-shadow: 0 0.3125em 0.625em rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
    position: relative;
    font-size: 1.375em;
    font-weight: 600;
    color: #333;
}

.wrapper h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1875em;
    width: 1.75em;
    border-radius: 0.75em;
    background: #088178;
}

.wrapper form {
    margin-top: 1.875em;
}

.wrapper form .input-box {
    height: 3.25em;
    margin: 1.125em 0;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 0.9375em;
    font-size: 1.0625em;
    font-weight: 400;
    color: #333;
    border: 0.094em solid #C7BEBE;
    border-bottom-width: 0.156em;
    border-radius: 0.375em;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #088178;
}

form .policy {
    display: flex;
    align-items: center;
}

form h3 {
    color: #707070;
    font-size: 0.875em;
    font-weight: 500;
    margin-left: 0.625em;
}

.input-box.button input {
    color: #fff;
    letter-spacing: 0.062em;
    border: none;
    background: #088178;
    cursor: pointer;
}

.input-box.button input:hover {
    border: 0.062em solid #088178;
    background-color: white;
    color: #088178;
}

form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: #088178;
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}

/* SUCCESS/FAILED MESSAGE */

.responseMessage {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    margin-top: 1em;
}

.responseMessage p {
    padding: 1em;
}

.message {
    margin-bottom: 1em;
    color: red;
}

.wrapper>.p {
    display: none;
    margin: 5em auto;
    font-size: 4em;
    color: #d6702e;
}


/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5em 4em;
    background-color: #E3E6F3;
    box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 550px) {
    body {
        font-size: 1em;
    }

    .wrapper {
        width: 75%;
        font-size: 0.8em;
    }

}